<body>
    <mat-toolbar>
        <button mat-incon-button class="Boton-Menu" arial-label="Menu">
            <mat-icon>menu</mat-icon>
        </button>
        <span>MODULOS DE JUEGOS</span>
    </mat-toolbar>

    <mat-list>
        <div class="divjuegos ppt">
            <p>Juego 1: <span class="nombrejuego">Piedra, Papel o Tijeras</span></p>
            <button class="buttonjuego" routerLink="/piedra-papel-tijera"
                matTooltip="¡Jugemos al piedra papel o tijera contra la maquina! ¿quien ganara? ¿Destruccion o abundancia">Jugar</button>
        </div>
        <mat-divider></mat-divider>
        <div class="divjuegos tresraya">
            <p>Juego 2: <span class="nombrejuego">Tres en raya</span></p>
            <button class="buttonjuego" routerLink="/Tresenraya" matTooltip="¿Te juegas un tres en raya?">Jugar</button>
        </div>
        <mat-divider></mat-divider>
        <div class="divjuegos ladrillos">
            <p>Juego 3: <span class="nombrejuego">Brick Breaker</span></p>
            <button class="buttonjuego" routerLink="/BrickBreaker"
                matTooltip="¡Hora de romper ladrillos!">Jugar</button>
        </div>
        <mat-divider></mat-divider>
        <div class="divjuegos juego">
            <p>Juego 4: <span class="nombrejuego">.</span></p>
            <button class="buttonjuego" routerLink="/"
                matTooltip="COMENTARIO">Jugar</button>
        </div>

    </mat-list>





    <div class="boxmovible" cdkDrag routerLink="/portafolios"></div>




    <!-- END HTML -->
</body>