*{
    margin: 0; padding: 0;
}
body{
    background: black;
}

/* !Caja movible */
.boxmovible{
    width: 242px;
    height: 231px;
    position: absolute;
    cursor: move;
    background-image: url(../../../assets/img/leewon3.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 1290px;
    position: absolute;
}


mat-toolbar{
    flex: 1 1 auto;
}

button{
    margin-right: 30px;
    border: solid black 5px;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}

/* ! MAT-LIST */

mat-list{
    height: 100px;
    width: 1200px;
    padding: 1px;
    display: inline-flex;
    margin-left: 100px;
    text-align: center;
    margin-top: 30px;
    flex: 2;
    color: black;
    text-shadow:6px 3px 5px #45c7f3;
    flex-direction: column;
    background-color: rgba(115, 116, 115, 0.334);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.divjuegos{
    padding: 25px;
}

p{
    font-weight: bold;
}

.buttonjuego{
    background-color: rgba(40, 196, 102, 0.964);
    padding: 4px;
    border: solid black 3px;
    font-size: 15px;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
    font-weight: bold;
}


/* ! FONDOS - juegos */

.ppt{
    background-image: url(/../../assets/img/bannerjuego1.png);
}
.tresraya{
    background-image: url(/../../assets/img/bannerjuego2.png);
}
.ladrillos{
    background-image: url(/../../assets/img/bannerjuego3.png);
}

.juego{
    background-color: aqua;
}