<mat-toolbar color="accent">
    <button mat-incon-button class="Boton-Menu" arial-label="Menu">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Piedra, papel o tijera</span>
</mat-toolbar>



<!-- *JUEGO -->

<div class="container">
    <div class="selecciones">
        <div (click)="elegir('tijeras')" class="eleccion tijeras">
            <img src="../../assets/img/scissors.png" alt="">
        </div>
        <div (click)="elegir('piedra')" class="eleccion piedra">
            <img src="../../assets/img/rock.png" alt="">
        </div>
        <div (click)="elegir('papel')" class="eleccion papel">
            <img src="../../assets/img/paper.png" alt="">
        </div>
    </div>
    <div class="container-c1">
        <!-- !VIDAS USER -->
        <div class="vidas-user">
            <img class="iconuser" src="../../assets/img/usuarioicon.png" alt="destrucion" srcset="">
            <p>MIS CORAZONES: </p>
            <img class="corazones" *ngFor="let corazon of corazonesuser" src="{{corazon}}" alt="">
            <p>Partidas ganas: {{cUser}}</p>
        </div>
        <!-- !CONSOLA -->
        <div class="consola">
            <div class="mensjaes">
                <p class="mensajeincial">{{texto}}</p>
                <p>{{texto2}}</p>
                <br>
                <img class="ganaste" *ngIf="img1" [src]="img1" alt="Ganaste">
                <img class="empate" *ngIf="img3" [src]="img3" alt="Empate">
                <img class="pierdes" *ngIf="img2" [src]="img2" alt="Pierdes">
            </div>
        </div>
        <!-- !VIDAS MAQUINA -->
        <div class="vidas-maq">
            <img class="iconmaq" src="../../assets/img/maquinaicon.png" alt="abundancia">
            <p>CORAZONES MAQUINA: </p>
            <img class="corazones" *ngFor="let corazon of corazonesmaq" src="{{corazon}}" alt="">
            <p>Partidas ganas: {{cMaq}}</p>
        </div>
    </div>
    <button class="rest" (click)="rest()">¿Juegas de nuevo?</button>
</div>


<!-- *PRIMER JUEGO
<!-- ! HTML corazones (ignorar)
    
    <div class="container">

    <div class="vidas">
        <div class="v-user">
            <p>MIS VIDAS: </p>
            <img src="../../../assets/img/corazon.png" alt="" class="c-user">
            <img src="../../../assets/img/corazon.png" alt="" class="c-user">
            <img src="../../../assets/img/corazon.png" alt="" class="c-user">
            <img src="../../../assets/img/corazon.png" alt="" class="c-user">
            <img src="../../../assets/img/corazon.png" alt="" class="c-user">
        </div>
        <!-- !SELECCIONES DE LAS "MANOS" -->
        <!-- <div class="selecciones-user">
            <div (click)="elegir('tijeras')" class="eleccion tijeras">
                <img class="scissors" src="../../assets/img/scissors.png" alt="">
            </div>
            <div (click)="elegir('piedra')" class="eleccion piedra">
                <img class="rock" src="/../../assets/img/rock.png" alt="">
            </div>
            <div (click)="elegir('papel')"  class="eleccion papel">
                <img class="paper" src="../../../assets/img/paper.png" alt="">
            </div>
        </div>
        <!-- !CONSOLA -->
        <!-- <div class="consola">
            {{texto}}
            <br>
            {{texto2}}
            <br>
            <br>
            <img class="ganaste" *ngIf="img1" [src]="img1" alt="Ganaste">
            <br>
            <img class="empate" *ngIf="img3" [src]="img3" alt="Empate">
            <br>
            <img class="pierdes" *ngIf="img2" [src]="img2" alt="Pierdes">
        </div> -->
        <!-- !SELECCIONES DE LAS "MANOS" MAQUINA -->
        <!-- <div class="selecciones-maq">
            <div (click)="elegir('tijeras')" class="eleccion-maq tijeras">
                <img class="scissors" src="../../assets/img/scissors.png" alt="">
            </div>
            <div (click)="elegir('piedra')" class="eleccion-maq piedra">
                <img class="rock" src="/../../assets/img/rock.png" alt="">
            </div>
            <div (click)="elegir('papel')"  class="eleccion-maq papel">
                <img class="paper" src="../../../assets/img/paper.png" alt="">
            </div>
        </div>
        
        <div class="v-maq">
            <p>VIDAS MAQUINA:</p>
            <img src="../../../assets/img/corazon.png" alt="" class="c-maq">
            <img src="../../../assets/img/corazon.png" alt="" class="c-maq">
            <img src="../../../assets/img/corazon.png" alt="" class="c-maq">
            <img src="../../../assets/img/corazon.png" alt="" class="c-maq">
            <img src="../../../assets/img/corazon.png" alt="" class="c-maq">

        </div>
    </div>


</div> 

-->


<!-- !ECHO EN CLASE
    

    <div class="container">

    <div class="consola">    
    {{texto}}
    <br>
    {{texto2}}
    <br>
    {{texto3}}
    </div>

    <div class="selecciones">
        <div (click)="elegir('tijeras')" class="eleccion tijeras">
            <img src="../../../assets/img/scissors.png" alt="">
        </div>
        <div (click)="elegir('papel')" class="eleccion papel">
            <img src="../../../assets/img/paper.png" alt="">
        </div>
        <div (click)="elegir('piedra')" class="eleccion piedra">
            <img src="../../../assets/img/rock.png" alt="">

        </div>
    </div>


</div> -->