<mat-toolbar color="accent">
    <button mat-incon-button class="Boton-Menu" arial-label="Menu">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Piedra, papel o tijera</span>
</mat-toolbar>

<div class="marcador">
    <p>Usuario: {{vU}}</p>
    <p>Maquina: {{vM}}</p>
</div>
<div class="container">

    <div class="selecciones">
        <div (click)="elegir('tijeras')" class="eleccion tijeras">
            <img src="../../assets/img/scissors.png" alt="">
        </div>
        <div (click)="elegir('piedra')" class="eleccion piedra">
            <img src="/../../assets/img/rock.png" alt="">
        </div>
        <div (click)="elegir('papel')"  class="eleccion papel">
            <img src="../../../assets/img/paper.png" alt="">
        </div>
    </div>
    <div class="consola">
    {{texto}}
    <br>
    {{texto2}}
    <br>
    <br>
    <img *ngIf="img1" [src]="img1" alt="Ganaste">
    <br>
    <img *ngIf="img3" [src]="img3" alt="Empate">
    <br>
    <img *ngIf="img2" [src]="img2" alt="Pierdes">
    </div>
</div>


<!--
    !ECHO EN CLASE

    <div class="container">

    <div class="consola">    
    {{texto}}
    <br>
    {{texto2}}
    <br>
    {{texto3}}
    </div>

    <div class="selecciones">
        <div (click)="elegir('tijeras')" class="eleccion tijeras">
            <img src="../../../assets/img/scissors.png" alt="">
        </div>
        <div (click)="elegir('papel')" class="eleccion papel">
            <img src="../../../assets/img/paper.png" alt="">
        </div>
        <div (click)="elegir('piedra')" class="eleccion piedra">
            <img src="../../../assets/img/rock.png" alt="">

        </div>
    </div>


</div> -->