/* !MAT-TOOBLAR */
mat-toolbar{
    flex: 1 1 auto;
}

button{
    margin-right: 20px;
    border: solid black 3px;
}


mat-icon{
    font-size: 25px;
    font-weight: bold;
}


.elemeto{
    margin-top: 40px;
    font-size: 30px;
}
input{
    font-size: 25px;
}

/* !TABLERO */

table{
    border-collapse: collapse;
    margin: 40px;
}

td{
    text-align: center;
    width: 90px;
    height: 80px;
    font-size: 49px;
    padding: 8px;
    border: 1px solid black;
    cursor: pointer;
}

td.selectable{
cursor: pointer;
}

td:hover{
    background: aqua;
}

td.selected{
    background: #bada55;
}

td.last-selected{
    border:  1px solid red;
}


button{
    font-size: 40px;
}

p{
    /* display: inline-block; */
    font-size: 40px;
}

.texto{
    display: inline-block;
}