<body>
<mat-toolbar>
  <button mat-incon-button class="Boton-Menu" arial-label="Menu"> 
    <mat-icon>menu</mat-icon>
  </button>
  <span>MODULOS DE JUEGOS</span>
</mat-toolbar>

<app-ppt></app-ppt>

<!-- <mat-list>
  <mat-list-item>Item 1</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 2</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 3</mat-list-item>
</mat-list> -->


<div class="boxmovible" cdkDrag>
  <a routerLink="./componentes/portafolios"></a>
</div>
  



<!-- END HTML -->
</body>


