*{
    margin: 0; padding: 0;
}
body{
    background: black  scroll;
    
    
}

/* Caja movible */
.boxmovible{
    width: 242px;
    height: 234px;
    position: absolute;
    cursor: move;
    background-image: url(../assets/img/leewon3.png);
    margin-top: 200px;
}

mat-toolbar{
    flex: 1 1 auto;
}

button{
    margin-right: 30px;
    border: solid black 5px;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}