*{
    margin: 0; padding: 0;
}

.boxmovible{
    width: 302px;
    height: 307px;
    position: absolute;
    cursor: move;
    background-image: url(../assets/img/leewon.png);
    margin-top: 400px;

}