<body>
    <mat-toolbar color="accent">
        <a routerLink=""> <!--! Sin nada se va directo al inicio-->
            <button mat-incon-button class="Boton-Menu" arial-label="Menu" matTooltip="Atras">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </a>
    <span>Rompe ladrillos</span>
</mat-toolbar>


<!-- !JUEGO -->

<div class="container">
    <div class="contador">
        <p>Puntuaje: {{puntuaje}}</p>
    </div>
    <canvas id="juego"></canvas>
</div>

</body>