<body>
    <mat-toolbar>
        <a routerLink="">
            <mat-icon matTooltip="Atras" color="primary">arrow_back</mat-icon>
           
            <div class="opciones">Sobre mi</div>
            <div class="opciones">d</div>
            <div class="opciones">d</div>
        </a>
    </mat-toolbar>

<section class="bien">
<div class="redes">
    <a href="https://github.com/nereazj544"> <img src="../../../assets/img/github.png" id="github" alt="" matTooltip="GtiHub"> </a>
    <a href="https://twitter.com"> <img src="../../../assets/img/twitter.png" id="twitter" alt="" matTooltip="Twitter"> </a>
    <a href="https://www.youtube.com/@soyneokurai1939/videos"> <img src="../../../assets/img/social.png" id="yt" alt="" matTooltip="YouTube"> </a>
</div>
</section>
<section class="SobreMi">

</section>

</body>