<body>

<section class="bien">
    
    <div class="redes">
    <p id="rs">REDES SOCIALES</p>
    <a href="https://github.com/nereazj544"> <img src="../../../assets/img/github.png" id="github" alt="" matTooltip="GtiHub"> </a>
    <a href="https://twitter.com"> <img src="../../../assets/img/twitter.png" id="twitter" alt="" matTooltip="Twitter"> </a>
    <a href="https://www.youtube.com/@soyneokurai1939/videos"> <img src="../../../assets/img/youtube.png" id="yt" alt="" matTooltip="YouTube"> </a>
</div>

</section>
<mat-divider></mat-divider>
<section class="SobreMi">
    
    <section class="bio">
        <img src="" alt="FotoAvatar">
        <h2>Habilidades tecnicas</h2>
        <ul>
            <li>Habilidades Tecnicas</li>
            <li>
              Lenguaje de programacion
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Java</li>
                <li>SQL</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
              </ul>
            </li>
            <li>Elemento de la lista principal</li>
          </ul>
    </section>
    
</section>
<mat-divider></mat-divider>
<section class="educacion">
    <h2>Educacion</h2>
    

</section>
</body>