<body>

    <div class="boxmovible" cdkDrag routerLink=""></div>

<section class="bien">
    <div class="redes">
      <p id="rs">REDES SOCIALES</p>
      <a href="https://www.wattpad.com/user/akirakurai13"> <img src="../../../assets/img/wattpad.png" id="github" alt="" matTooltip="Wattpad <3"> </a>
      <a href="https://github.com/nereazj544"> <img src="../../../assets/img/github.png" id="github" alt="" matTooltip="GtiHub"> </a>
      <a href="https://twitter.com"> <img src="../../../assets/img/twitter.png" id="twitter" alt="" matTooltip="Twitter"> </a>
    <a href="https://www.youtube.com/@soyneokurai1939/videos"> <img src="../../../assets/img/youtube.png" id="yt" alt="" matTooltip="YouTube"> </a>
</div>

</section>
<mat-divider></mat-divider>
<section class="SobreMi">
    <section class="bio">
        <img src="../../../assets/img/renderavatar.png" alt="FotoAvatar">
        <h2><span>Habilidades tecnicas</span></h2>
        <ul>
            <li><span>Habilidades Tecnicas</span></li>
            <li>
              <span>Lenguaje de programacion</span>
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Worpress</li>
                <li>Java</li>
                <li>SQL</li>
                <li>TypeScript</li>
                <li>JavaScript</li>
              </ul>
            </li>
            
            <li><span>Habilidades de Sowftware</span>
              <ul>
                <li>Photoshop</li>
                <li>Paint Tool Sai</li>
                <li>Programas de Ofimatica (Word, PowerPoint)</li>
              </ul>
            </li>

            <li><span>Lenguaje</span>
              <ul>
                <li>Español (Nativo)</li>
                <li>Ingles (B1)</li>
              </ul>
            </li>
            <li><span>Hobbies y intereses</span>
              <ul>
                <li>Arte digital</li>
                <li>Escritor (generos: Mafia y Fantasia)</li>
              </ul>
            </li>

          </ul>
    </section>
    <section class="sm">

      <h1>Sobre mi</h1>
      <h2>Hola, soy Neo. Una programdora y escritora en mi tiempo. libre :)</h2>
      
      <h1>Formacion Academica</h1>
      <ul>
        <li>E.S.O - IES Perez de Ayala</li>
      <li>Técnico en Sistemas Microinformáticos y Redes - IES Monte Naranco</li>
      <li>Técnico Superior en Desarrollo de Aplicaciones Multiplataforma - IES DOCTOR FLEMING</li>
      <li>Pasaporte a la seguridad - Certificado de Nivel Básico en prevención de riesgos laborles (50 Horas)</li>
    </ul>
    <h1>Experiencia Lavoral</h1>
    <ul>
      <li>Practicas (3 meses) - AstruNorte
        <ul>
          <li>La practica fue realizando mantenimientode equipos.</li>
        </ul>
      </li>
    </ul>
  </section>
    
</section>
</body>