* {
    margin: 0;
    padding: 0;
}



/* ! CAJA MOVIBLE */

.boxmovible{
    width: 242px;
    height: 231px;
    position: absolute;
    cursor: move;
    background-image: url(../../../assets/img/renderavatar.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
/* ! MAT TOOLBAR Y ICON */
mat-toolbar {
    flex: 1 1 auto;
    text-align: center;
    height: 100px;
    position: absolute;
}

mat-icon {
    font-size: 25px;
    margin-left: 3px;
    margin-right: 30px;

}

.mat-icon:hover {
    color: aqua;
}

/* ! MENU */

.opciones {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    font-size: 50px;
}

.opciones:hover {
    color: blue;
}

/*! Componentes del portafolios*/

.bien {
    width: 1920px;
    height: 1080px;
    /* background-size: co; */
    background: url(../../../assets/img/portafolios1.png);
    background-repeat: no-repeat;
}

.SobreMi {
    width: 1920px;
    height: 1080px;
    background-color: #0072ff;
    background-repeat: no-repeat;
    display: flex;
    /* margin-top: 40px; */
}


/* !REDES SOCIALES */

.redes {
    /* display: inline-block; */
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    float: right;
}


#rs {
    font-size: 40px;
    color: green;
    font-weight: bold;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

#twitter,
#github,
#yt {
    color: #fff;
    /* box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
        2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
        inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
        inset 2px 2px 10px #00000080;
    padding: 11px 19px; */
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
        0 0 200px #0072ff;
    width: 80px;
    padding: 20px;
}

#twitter {
    animation-delay: 0.3s;
}

#yt {
    animation-delay: 0.7s;
}

#github {
    animation-delay: 0.1s;
}

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}


/* !Sobre Mi */

.bio {
    width: 300px;
    display: block;
    padding: 4px;
    background-color: #49FF18;
}

.bio img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.bio h2 {
    margin-top: 0;
}

.bio p {
    padding: 3px;
    text-align: center;
    margin-bottom: 20px;
}

.bio ul {
    padding: 3px 9px;
    justify-content: center;
    margin: 0;
    list-style: none;
}

.bio ul li {
    margin: 0 10px;
}

span {
    list-style: none;
    font-weight: bold;
}

.sm{
    padding: 30px;
}

.sm ul{
    font-size: 30px;
    padding: 20px;
}
.sm ul li{
    font-size: 25px;
    padding: 20px 10px;

}